@using ClassLibrary1;
@model List<Category>

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">My Ecommerce Site</p>
            <div class="list-group categories" data-default-category="@Model[0].Id">
                @foreach (Category c in Model)
                {
                    <button href="/home/index?categoryId=@c.Id" data-id="@c.Id" class="category list-group-item">@c.Name</button>
                }
            </div>
        </div>

        <div class="col-md-9">

            <div class="row items">
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
<script src="~/js/Index.js"></script>
}