@using ClassLibrary1;
@model int
@{
    ViewData["Title"] = "Cart";
}

<style>
    table, h2, h3, h4, th {
        text-align: center;
    }

    button {
        margin-top: 20px;
    }
</style>

<h3>Inside your shopping cart...</h3>

<table class="table table-bordered table-hover table-striped" id="cart-items" data-cart-id="@Model">
    <tr>
        <th></th>
        <th>Item</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quanity</th>
        <th>Total</th>
    </tr>
</table>

<button class="btn btn-info pull-right" id="update-cart">Checkout</button>

@section scripts{
    <script src="~/js/ViewCart.js"></script>
}


